@font-face {
    font-family: "GilroySemiBoldItalic";
    src: url("./fonts/Gilroy-SemiboldItalic.ttf");
}

@font-face {
    font-family: "GilroySemiBold";
    src: url("./fonts/Gilroy-Semibold.ttf");
}