.u-notify,
.u-notify * {
  box-sizing: border-box;
}
.u-notify {
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.notifys {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 271px;
  position: absolute;
  left: 30px;
  top: 99px;
}
.info {
  flex-shrink: 0;
  width: 271px;
  height: 75px;
  position: relative;
}
.information-box {
  background: linear-gradient(
    90deg,
    rgba(43, 43, 43, 1) 0%,
    rgba(43, 43, 43, 0) 100%
  );
  border-radius: 13px;
  width: 271px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.vector {
  width: 5.9%;
  height: 20%;
  position: absolute;
  right: 85.61%;
  left: 8.49%;
  bottom: 40%;
  top: 40%;
  overflow: visible;
}
.vector2 {
  width: 5.9%;
  height: 20%;
  position: absolute;
  right: 85.61%;
  left: 8.49%;
  bottom: 40%;
  top: 40%;
  overflow: visible;
}
.information {
  color: #ffffff;
  text-align: center;
  font-family: "GilroySemiBoldItalic", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 61px;
  top: 16px;
}
.notify-text {
  color: #ffffff;
  text-align: left;
  font-family: "GilroySemiBold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 61px;
  top: 36px;
  width: 210px;
  height: 38px;
}
.notify {
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
}
.error {
  align-self: stretch;
  flex-shrink: 0;
  height: 75px;
  position: relative;
}
.warning-box {
  background: linear-gradient(
    90deg,
    rgba(43, 43, 43, 1) 0%,
    rgba(43, 43, 43, 0) 100%
  );
  border-radius: 13px;
  width: 271px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.warning2 {
  color: #ff0000;
  text-align: center;
  font-family: "GilroySemiBoldItalic", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 50px;
  top: 10.21px;
  width: 63.39px;
  height: 17px;
  transform-origin: 0 0;
  transform: rotate(-0.194deg) scale(1, 1);
}
.x {
  width: 30px;
  height: 32px;
  position: absolute;
  left: 16px;
  top: 22px;
  overflow: visible;
}
.icon {
  width: 5.54%;
  height: 21.33%;
  position: absolute;
  right: 85.98%;
  left: 8.49%;
  bottom: 38.67%;
  top: 40%;
  overflow: visible;
}
.rectangle-363 {
  background: linear-gradient(
    90deg,
    rgba(43, 43, 43, 1) 0%,
    rgba(43, 43, 43, 0) 100%
  );
  border-radius: 13px;
  width: 271px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.warning3 {
  color: #fff600;
  text-align: center;
  font-family: "GilroySemiBoldItalic", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 61px;
  top: 12.21px;
  width: 63.01px;
  height: 17px;
  transform-origin: 0 0;
  transform: rotate(-0.194deg) scale(1, 1);
}
.error-16-svgrepo-com-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 19px;
  top: 25px;
  overflow: visible;
}
.error-16-svgrepo-com-2 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 19px;
  top: 25px;
  overflow: visible;
}

@keyframes slideIn {
	0% { transform: translateX(-100%); }
	100% { transform: translateX(0); }
}
@keyframes slideOut {
	0% { transform: translateX(0); }
	100% { transform: translateX(-100%); }
}